
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

header{
    background-color: #222;
    padding: 20px;
    text-align: center;
}

header h1{
    color: white;
    margin-bottom: 15px;
    font-size: 40px;
}

nav a{
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
    transition: 0.3s;
}

nav a:hover{
    color: #00bfff;
}


main{
    width: 90%;
    margin: 30px auto;
}


section{
    margin-bottom: 50px;
}

section h2{
    margin-bottom: 20px;
    text-align: center;
    font-size: 30px;
    color: #222;
}


.galeria{
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
}


.card{
    background-color: white;
    width: 250px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
    transition: transform 0.3s;
}

.card:hover{
    transform: scale(1.05);
}


.card img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}


.card p{
    padding: 15px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}


@media (max-width: 768px){

    header h1{
        font-size: 30px;
    }

    nav a{
        display: block;
        margin: 10px 0;
    }

    .card{
        width: 90%;
    }
}